# ==========================================
# GRAMVIKAS AI - NEXT.JS FRONTEND CONFIGURATION
# ==========================================

# Backend API Root
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# NextAuth Secret & Base URL
NEXTAUTH_SECRET=super-secret-nextauth-gramvikas-sih2026-key
NEXTAUTH_URL=http://localhost:3000

# Google OAuth Client ID (Client Side)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
